<div class="container mt-5">
    <div class="table-title">
        <div class="row d-flex justify-content-between">
            <div class="col-sm-6">
                <h2>Lista de <b>Regístrados</b></h2>

            </div>
            <div class="col-sm-6 mb-2">
                <input type="text" class="form-control" [(ngModel)]="userFilter.nombre" placeholder="Buscar regístro">
            </div>
        </div>
    </div>
    <div class="table-wrapper-scroll-y">
        <table class="table table-striped table-bordered table-hover">
            <thead class=thead-dark>
                <tr>
                    <th>ID</th>
                    <th>CURP</th>
                    <th>Nombre(s)</th>
                    <th>Apellidos</th>
                    <th>Id Oficial</th>
                    <th>Foto Id Frontal</th>
                    <th>Foto Id Trasera</th>
                    <th>Sexo</th>
                    <th>Nacimiento</th>
                    <th>No. Telefono</th>
                    <th>Edad</th>
                    <th>Correo eletrónico</th>
                    <th>Estado</th>
                    <th>Municipio</th>
                    <th>Localidad</th>
                    <th>CP</th>
                    <th>Tipo Vialidad</th>
                    <th>Nombre Vialidad</th>
                    <th>No. Exterior</th>
                    <th>No. Interior</th>
                    <th>Asentamiento</th>
                    <th>Entre Vialidad 1</th>
                    <th>Entre Vialidad 2</th>
                    <th>Descr. Ubicación</th>
                    <th>Etpa. Proyecto</th>
                    <th>Área Proyecto</th>
                    <th>Estado Civil</th>
                    <th>Jefe Familia</th>
                    <th>Ocupación</th>
                    <th>Ingreso Mensual</th>
                    <th>Int. Familia</th>
                    <th>Dependientes</th>
                    <th>Nivel Estudios</th>
                    <th>Escuela</th>
                    <th>Tipo Seguro Social</th>
                    <th>Discapacidad</th>
                    <th>Gpos. Vulnerables</th>
                    <th>Enteraste evento</th>
                    <th>Tipo Vivienda</th>
                    <th>Electricidad</th>
                    <th>Agua</th>
                    <th>Drenaje</th>
                    <th>Telefono</th>
                    <th>Internet</th>
                    <!-- <th>Revisado??</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let person of emprendedores | filterBy: userFilter">
                    <td>{{ person.id_participante }}</td>
                    <td>{{ person.curp }}</td>
                    <td>{{ person.nombre }}</td>
                    <td>{{ person.apellido_paterno }} {{ person.apellido_materno }}</td>
                    <td>{{ person.identificacion_oficial }}</td>
                    <td><a [href]="'http://127.0.0.1:5000' + person.foto_identificacion_adelante" target="_blank">Foto Id Frontal</a></td>
                    <td><a [href]="'http://127.0.0.1:5000' + person.foto_identificacion_atras" target="_blank">Foto Id Trasera</a></td>
                    <td>{{ person.sexo }}</td>
                    <td>{{ person.fecha_nacimiento }}</td>
                    <td>{{ person.numero_telefono }}</td>
                    <td>{{ person.edad }}</td>
                    <td>{{ person.correo }}</td>
                    <td>{{ person.estado }}</td>
                    <td>{{ person.municipio }}</td>
                    <td>{{ person.localidad }}</td>
                    <td>{{ person.codigo_postal }}</td>
                    <td>{{ person.tipo_vialidad }}</td>
                    <td>{{ person.nombre_vialidad }}</td>
                    <td>{{ person.numero_exterior }}</td>
                    <td>{{ person.numero_interior }}</td>
                    <td>{{ person.asentamiento }}</td>
                    <td>{{ person.entre_vialidad_1 }}</td>
                    <td>{{ person.entre_vialidad_2 }}</td>
                    <td>{{ person.descripcion_ubicacion }}</td>
                    <td>{{ person.etapa_proyecto }}</td>
                    <td>{{ person.area_proyecto }}</td>
                    <td>{{ person.estado_civil }}</td>
                    <td>{{ person.jefe_familia }}</td>
                    <td>{{ person.ocupacion }}</td>
                    <td>{{ person.ingreso_mensual }}</td>
                    <td>{{ person.numero_integrantes_familia }}</td>
                    <td>{{ person.numero_dependientes }}</td>
                    <td>{{ person.nivel_estudios }}</td>
                    <td>{{ person.escuela }}</td>
                    <td>{{ person.tipo_seguridad_social }}</td>
                    <td>{{ person.discapacidad }}</td>
                    <td>{{ person.grupos_vulnerables }}</td>
                    <td>{{ person.como_enteraste_evento }}</td>
                    <td>{{ person.tipo_vivienda }}</td>
                    <td>{{ person.electricidad }}</td>
                    <td>{{ person.agua }}</td>
                    <td>{{ person.drenaje }}</td>
                    <td>{{ person.telefono }}</td>
                    <td *ngIf="(emprendedores | filterBy: userFilter).length === 0">Ningun resultado</td>
                    <a (click)="descargarArchivos(person)" class="btn btn-primary btn-circle" title="Descargar imágenes"><span class="fa fa-download"></span></a>
                    <a (click)="revisarParticipante(person)" *ngIf="person.revisado === 'no'" class="btn btn-primary btn-circle" title="Revisar"><span class="fa fa-square-o"></span></a>
                    <a *ngIf="person.revisado === 'si'" class="btn btn-primary btn-circle" title="Revisado"><span class="fa fa-check-square-o"></span></a>
                    <a (click)="eliminarParticipante(person)" class="btn btn-danger btn-circle" title="Rechazar"><span class="fa fa-trash"></span></a> 
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row no-gutters d-flex justify-content-between mt-3">
        <div>
            <button class="btn btn-danger" (click)="salir()"><i class="fa fa-sign-out" ></i>Cerrar Sesión</button>
        </div>

        <div>
            <button (click)="exportAsXLSX()" class="btn btn-success"><i class="fa fa-file-excel-o fa-1x" ></i> Generar Excel</button>
        </div>
    </div>

</div>