body {
    background: #31b2d6;
    background: -moz-linear-gradient(top, #31b2d6 0%, #33b0d6 61%, #1e5799 100%, #1e5799 100%);
    background: -webkit-linear-gradient(top, #31b2d6 0%, #33b0d6 61%, #1e5799 100%, #1e5799 100%);
    background: linear-gradient(to bottom, #31b2d6 0%, #33b0d6 61%, #1e5799 100%, #1e5799 100%);
    padding: 4%;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    border: 5px solid #6f92d3 !important;
    border-radius: 12px;
    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
        margin-bottom: 5px;
    }
}

.loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.registro {
    .registro-derecha {
        background: #f8f9fa;
        p {
            font-weight: lighter;
            padding: 12%;
            margin-top: -9%;
        }
    }
    .formulario-registro {
        padding: 8%;
    }
    .registro-encabezado {
        text-align: center;
        margin-top: 3%;
        margin-bottom: -15%;
        color: #495057;
    }
}

footer {
    background-color: #18b5d1;
    a {
        text-decoration: none;
        color: #ffffff;
    }
    h3 {
        font-weight: bold;
        font-size: 1.5rem;
    }
    .copyright {
        color: #ffffff;
        font-size: 15px;
    }
    .sociales {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                position: relative;
                display: inline-block;
                a {
                    &::before {
                        font-family: 'FontAwesome';
                        display: inline-block;
                        vertical-align: top;
                        padding: 0.4rem;
                        content: '\f08e';
                        -webkit-font-smoothing: antialiased;
                        font-size: 2rem;
                        color: #f6f6f6;
                    }
                }
                a[href*="https://www.facebook.com/SecretariadeEconomiaZac/"] {
                    &::before {
                        content: '\f230';
                    }
                }
            }
            li {
                position: relative;
                display: inline-block;
                a {
                    &::before {
                        font-family: 'FontAwesome';
                        display: inline-block;
                        vertical-align: top;
                        padding: 0.4rem;
                        content: '\f08e';
                        -webkit-font-smoothing: antialiased;
                        font-size: 1.9rem;
                        color: #f6f6f6;
                    }
                }
                a[href*="https://twitter.com/sezac_/"] {
                    &::before {
                        content: '\f099';
                    }
                }
            }
        }
    }
}