<aw-wizard>
        <!-- Vista de Formulario de Registro (Datos Personales) -->
        <aw-wizard-step stepTitle="Datos Personales">
            <!DOCTYPE html>
            <html>
    
            <body>
                <div class="container-fluid registro">
                    <div class="row">
                        <div class="col-md-12 registro-derecha">
                            <h3 class="registro-encabezado">Regístro Emprendedor</h3>
                            <div class="row formulario-registro" style="margin-top:10%;">
                                <!--ComboBoxes de preguntas -->
                                <div class="col-md-12">
                                    <fieldset class="scheduler-border">
                                        <legend class="scheduler-border">Ácerca de tu Proyecto</legend>
                                        <form [formGroup]="formulario" novalidate="novalidate" method="post" enctype="multipart/form-data">
                                            <!-- Primer pregunta -->
                                            <div class="form-group">
                                                <label for="etapa_proyecto">¿En cuál de las siguientes etapas te encuentras?</label>
                                                <select class="form-control" [ngClass]="{'is-invalid': !formulario.controls['etapa_proyecto'].valid && formulario.controls['etapa_proyecto'].touched, 'is-valid': formulario.controls['etapa_proyecto'].valid}" formControlName="etapa_proyecto">
                                                        <option>Idea - En búsqueda y creación de una idea de negocio</option>
                                                        <option>Prototipado - En el diseño y/o pruebas de prototipo</option>
                                                        <option>Modelo de Negocio - Elaborando y/o válidando mi modelo de negocio</option>
                                                        <option>Estructura - Estoy en incubación</option>
                                                        <option>Creación - Ya inicié mis ventas</option>
                                                        <option>Consolidación - Ya logre ventas y mi punto de equilibrio</option>
                                                        <option>Crecimiento / Aceleración</option>
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['etapa_proyecto'].errors?.required">
                                                    Campo requerido.
                                                </div>
    
                                            </div>
    
                                            <!-- Segunda pregunta -->
                                            <div class="form-group">
                                                <label for="area_proyecto">¿En cuál de los siguientes sectores se encuentra tu proyecto o empresa?</label>
                                                <select class="form-control" [ngClass]="{'is-invalid': !formulario.controls['area_proyecto'].valid && formulario.controls['area_proyecto'].touched, 'is-valid': formulario.controls['area_proyecto'].valid}" formControlName="area_proyecto">
                                                        <option>Mineria</option>
                                                        <option>Agroindustria</option>
                                                        <option>Tecnologías de la Información</option>
                                                        <option>Industria Manufacturera</option>
                                                        <option>Energías Alternativas</option>
                                                        <option>Turismo</option>
                                                        <option>Comercio</option>
                                                        <option>Servicios</option>
                                                        <option>Industrias creativas</option>
                                                        <option>Otros</option>
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['area_proyecto'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
                                        </form>
                                    </fieldset>
                                </div>
    
                                <!-- Grupo de Datos Personales formulario -->
                                <div class="col-md-12">
                                    <fieldset class="scheduler-border">
                                        <legend class="scheduler-border">Datos Personales</legend>
                                        <form [formGroup]="formulario">
    
                                            <div class="form-row">
                                                <!-- Campo Nombre(s) -->
                                                <div class="form-group col-md-3">
                                                    <label for="nombre">Nombre(s)</label>
                                                    <input type="text" formControlName="nombre"  class="form-control" [ngClass]="{'is-invalid': !formulario.controls['nombre'].valid && formulario.controls['nombre'].touched, 'is-valid': formulario.controls['nombre'].valid}" />
                                                    <div *ngIf="formulario.controls['nombre'].errors?.required" class="invalid-feedback">
                                                        Campo requerido.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Apellido Paterno -->
                                                <div class="form-group col-md-3">
                                                    <label for="apellido_paterno">Apellido Paterno</label>
                                                    <input type="text" formControlName="apellido_paterno" maxlength="50" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['apellido_paterno'].valid && formulario.controls['apellido_paterno'].touched, 'is-valid': formulario.controls['apellido_paterno'].valid}"
                                                    />
                                                    <div *ngIf="formulario.controls['apellido_paterno'].errors?.required" class="invalid-feedback">
                                                        Campo requerido.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Apellido Materno -->
                                                <div class="form-group col-md-3">
                                                    <label for="apellido_materno">Apellido Materno</label>
                                                    <input type="text" formControlName="apellido_materno" maxlength="50" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['apellido_materno'].valid && formulario.controls['apellido_materno'].touched, 'is-valid': formulario.controls['apellido_materno'].valid}"
                                                    />
                                                    <div *ngIf="formulario.controls['apellido_materno'].errors?.required" class="invalid-feedback">
                                                        Campo requerido.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Número de Celular -->
                                                <div class="form-group col-md-3">
                                                    <label for="numero_telefono">Número de Celular</label>
                                                    <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onpaste="return false" formControlName="numero_telefono" maxlength="10" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['numero_telefono'].valid && formulario.controls['numero_telefono'].touched, 'is-valid': formulario.controls['numero_telefono'].valid}"
                                                    />
                                                    <div *ngIf="formulario.controls['numero_telefono'].errors?.required" class="invalid-feedback">
                                                        Campo requerido.
                                                    </div>
                                                    <div *ngIf="formulario.controls['numero_telefono'].errors?.minlength" class="invalid-feedback">
                                                        Debe tener al menos 10 dígitos.
                                                    </div>
                                                </div>
    
                                                <!-- Campo CURP -->
                                                <div class="form-group col-md-3">
                                                    <label for="curp">CURP</label>
                                                    <input type="text" oncopy="return false" formControlName="curp" class="form-control" maxlength="18" [ngClass]="{'is-invalid': !formulario.controls['curp'].valid && formulario.controls['curp'].touched, 'is-valid': formulario.controls['curp'].valid}" />
                                                    <div *ngIf="formulario.controls['curp'].errors?.required" class="invalid-feedback">
                                                        Campo requerido.
                                                    </div>
                                                    <div *ngIf="formulario.controls['curp'].errors?.minlength" class="invalid-feedback">
                                                        Debe tener al menos 18 dígitos.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Confirmar  CURP-->
                                                <div class="form-group col-md-3">
                                                    <label for="confirmar_curp">Confirmar CURP</label>
                                                    <input type="text" oncopy="return false" onpaste="return false" formControlName="confirmar_curp" maxlength="18" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['confirmar_curp'].valid && formulario.controls['confirmar_curp'].touched, 'is-valid': formulario.controls['confirmar_curp'].valid}"
                                                    />
                                                    <div *ngIf="formulario.controls['confirmar_curp'].errors?.required" class="invalid-feedback">
                                                        Campo requerido.
                                                    </div>
                                                    <div *ngIf="formulario.controls['confirmar_curp'].errors?.pattern" class="invalid-feedback">
                                                        La CURP no coincide.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Contraseña -->
                                                <div class="form-group col-md-3">
                                                    <label for="contrasena">Contraseña</label>
                                                    <input type="password" oncopy="return false" formControlName="contrasena" maxlength="40" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['contrasena'].valid && formulario.controls['contrasena'].touched, 'is-valid': formulario.controls['contrasena'].valid}"
                                                    />
                                                    <div *ngIf="formulario.controls['contrasena'].errors?.required" class="invalid-feedback">
                                                        Campo requerido.
                                                    </div>
                                                    <!--<div *ngIf="formulario.controls['contrasena'].errors?.pattern" class="invalid-feedback">
                                                            Debe tener al menos un número, una mayúscula, minúscula y 8 o más caracteres.
                                                        </div> -->
                                                </div>
    
                                                <!-- Campo Confirmar Contraseña -->
                                                <div class="form-group col-md-3">
                                                    <label for="confirmar_contrasena">Confirmar Contraseña</label>
                                                    <input type="password" oncopy="return false" onpaste="return false" formControlName="confirmar_contrasena" maxlength="40" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['confirmar_contrasena'].valid && formulario.controls['confirmar_contrasena'].touched, 'is-valid': formulario.controls['confirmar_contrasena'].valid}"
                                                    />
                                                    <div *ngIf="formulario.controls['confirmar_contrasena'].errors?.required" class="invalid-feedback">
                                                        Campo requerido.
                                                    </div>
                                                    <div *ngIf="formulario.controls['confirmar_contrasena'].errors?.pattern" class="invalid-feedback">
                                                        La contraseña no coincide.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Identificación Oficial -->
                                                <div class="form-group col-md-3">
                                                    <label for="identificacion_oficial">Identificación Oficial</label>
                                                    <select formControlName="identificacion_oficial" (ngModelChange)="bloquearFotoAtras($event)" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['identificacion_oficial'].valid && formulario.controls['identificacion_oficial'].touched, 'is-valid': formulario.controls['identificacion_oficial'].valid}">
                                                            <option value="INE">INE</option>
                                                            <option value="Pasaporte">Pasaporte</option>
                                                            <option value="Cartilla Militar">Cartilla Militar</option>
                                                            <option value="Licencia Conductor">Licencia Conductor (Menor de edad)</option>
                                                            <option value="Identificación Escolar">Identificación Escolar (Menor de edad)</option>
                                                            <option value="Otro">Otro</option>
                                                        </select>
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['identificacion_oficial'].errors?.required">
                                                        Campo requerido.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Fecha de Nacimiento -->
                                                <div class="form-group col-md-3">
                                                    <label for="fecha_nacimiento">Fecha de nacimiento</label>
                                                    <input type="date" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['fecha_nacimiento'].valid && formulario.controls['fecha_nacimiento'].touched,'is-valid': formulario.controls['fecha_nacimiento'].valid}" formControlName="fecha_nacimiento"
                                                    />
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['fecha_nacimiento'].errors?.required">
                                                        Campo requerido.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Género -->
                                                <div class="form-group col-md-2">
                                                    <label for="generoformulario">Género</label>
                                                    <select formControlName="sexo" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['sexo'].valid && formulario.controls['sexo'].touched, 'is-valid': formulario.controls['sexo'].valid}">
                                                            <option value="Hombre">Hombre</option>
                                                            <option value="Mujer">Mujer</option>
                                                        </select>
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['sexo'].errors?.required">
                                                        Campo requerido.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Edad -->
                                                <div class="form-group col-md-1">
                                                    <label for="edad">Edad</label>
                                                    <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onpaste="return false" class="form-control" maxlength="3" [ngClass]="{'is-invalid': !formulario.controls['edad'].valid && formulario.controls['edad'].touched, 'is-valid': formulario.controls['edad'].valid}" formControlName="edad">
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['edad'].errors?.required">
                                                        Campo requerido.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Correo Electrónico -->
                                                <div class="form-group col-md-3">
                                                    <label for="correo">Correo electrónico</label>
                                                    <input type="text" formControlName="correo" maxlength="80" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['correo'].valid && formulario.controls['correo'].touched, 'is-valid': formulario.controls['correo'].valid}">
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['correo'].errors?.required">
                                                        Campo requerido.
                                                    </div>
    
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['correo'].errors?.pattern">
                                                        No tiene formato de correo.
                                                    </div>
                                                </div>
    
                                                <!-- Subir Archivo Identificación Oficial Frontal -->
                                                <div class="form-group col-md-4">
                                                    <label for="foto_identificacion_adelante">Identificación Oficial (Frontal)</label>
                                                    <input type="file" accept="image/*, application/pdf" value="1000000" (change)="onFileSelected1($event)" class="form-control-file" [ngClass]="{'is-invalid': formulario.controls['foto_identificacion_adelante'].valid && formulario.controls['foto_identificacion_adelante'].touched, 'is-valid': formulario.controls['foto_identificacion_adelante'].valid}"
                                                        formControlName="foto_identificacion_adelante">
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['foto_identificacion_adelante'].errors?.required">
                                                        Campo requerido.
                                                    </div>
                                                    <div class="invalid-feedback" *ngIf="restriccionImagen1">
                                                        Por favor escoja una imagen con tamaño menor a 512 KB
                                                    </div>
                                                </div>
    
                                                <!-- Subir Archivo Identificación Oficial Atras -->
                                                <div *ngIf="!bloquearFoto" class="form-group col-md-4">
                                                    <label for="foto_identificacion_atras">Identificación Oficial (Atras)</label>
                                                    <input type="file" accept="image/*, application/pdf" (change)="onFileSelected2($event)" class="form-control-file" [ngClass]="{'is-invalid': formulario.controls['foto_identificacion_atras'].valid && formulario.controls['foto_identificacion_atras'].touched, 'is-valid': formulario.controls['foto_identificacion_atras'].valid}"
                                                        formControlName="foto_identificacion_atras">
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['foto_identificacion_atras'].errors?.required">
                                                        Campo requerido.
                                                    </div>
                                                    <div class="invalid-feedback" *ngIf="restriccionImagen2">
                                                        Por favor escoja una imagen con tamaño menor a 512 KB
                                                    </div>
                                                </div>
    
                                                <!-- Subir Archivo Foto Personal 
                                                <div class="form-group col-md-4">
                                                    <label for="foto_personal">Foto de Perfil</label>
                                                    <input type="file" class="form-control-file" [ngClass]="{'is-invalid': formulario.controls['foto_personal'].valid && formulario.controls['foto_personal'].touched, 'is-valid': formulario.controls['foto_personal'].valid}" formControlName="foto_personal">
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['foto_personal'].errors?.required">
                                                        Campo requerido.
                                                    </div>
                                                </div>
                                            -->
                                            </div>
                                            <div class="d-flex justify-content-lg-between flex-column flex-sm-row">
                                                <button type="button" class="btn btn-danger" style="background-color: #df9f16; border:#df9f16;" (click)="seguroDeRegresar()">Anterior</button>
                                                <br />
                                                <button type="button" class="btn btn-primary" style="background-color: #1d9be4; border:#1d9be4;" awNextStep>Siguiente</button>
                                            </div>
    
                                        </form>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </body>
    
            </html>
        </aw-wizard-step>
    
        <!-- Vista de Formulario de Registro (Datos Domicilio) -->
        <aw-wizard-step stepTitle="Datos Domicilio" awOptionalStep>
            <!DOCTYPE html>
            <html lang="es">
    
            <body>
                <div class="container-fluid registro">
                    <div class="row">
                        <div class="col-md-12 registro-derecha">
                            <div class="row formulario-registro">
                                <div class="col-md-12">
                                    <fieldset class="scheduler-border">
                                        <legend class="scheduler-border">Datos Domicilio</legend>
                                        <form [formGroup]="formulario">
    
                                            <div class="form-row">
                                                <!-- Campo Estado -->
                                                <div class="form-group col-md-3">
                                                    <label for="opcion">Estado</label>
                                                    <select formControlName="estado" (ngModelChange)="obtenerUnMunicipio($event)" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['estado'].valid && formulario.controls['estado'].touched, 'is-valid': formulario.controls['estado'].valid}">
                                                            <option *ngFor="let estado of estados"  [ngValue]= estado.nombre>{{estado.nombre}}</option>
                                                        </select>
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['estado'].errors?.required">
                                                        Campo requerido.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Municipio -->
                                                <div class="form-group col-md-3">
                                                    <label for="municipioOpcion">Municipio</label>
                                                    <select formControlName="municipio" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['municipio'].valid && formulario.controls['municipio'].touched, 'is-valid': formulario.controls['municipio'].valid}">
                                                            <option></option>
                                                            <option *ngFor="let municipio of municipios">{{municipio.nombre}}</option>                                                      
                                                        </select>
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['municipio'].errors?.required">
                                                        Campo requerido.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Tipo de Vialidad -->
                                                <div class="form-group col-md-3">
                                                    <label for="VialidadOpcion">Tipo de Vialidad</label>
                                                    <select formControlName="tipo_vialidad" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['tipo_vialidad'].valid && formulario.controls['tipo_vialidad'].touched, 'is-valid': formulario.controls['tipo_vialidad'].valid}">
                                                            <option>Ampliación</option>
                                                            <option>Andador</option>
                                                            <option>Avenida</option>
                                                            <option>Boulevard</option>
                                                            <option>Calle</option>
                                                            <option>Callejón</option>
                                                            <option>Calzada</option>
                                                            <option>Cerrada</option>
                                                            <option>Circuito</option>
                                                            <option>Circunvalación</option>
                                                            <option>Continuación</option>
                                                            <option>Corredor</option>
                                                            <option>Diagonal</option>
                                                            <option>Eje Vial</option>
                                                            <option>Pasaje</option>
                                                            <option>Peatonal</option>
                                                            <option>Periférico</option>
                                                            <option>Privada</option>
                                                            <option>Prolongación</option>
                                                            <option>Retorno</option>
                                                            <option>Viaducto</option>
                                                            <option>Ninguno</option>
                                                        </select>
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['tipo_vialidad'].errors?.required">
                                                        Campo requerido.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Asentamiento -->
                                                <div class="form-group col-md-3">
                                                    <label for="asentamiento">Asentamiento</label>
                                                    <select class="form-control" [ngClass]="{'is-invalid': !formulario.controls['asentamiento'].valid && formulario.controls['asentamiento'].touched, 'is-valid': formulario.controls['asentamiento'].valid}" formControlName="asentamiento">
                                                            <option>Aeropuerto</option>
                                                            <option>Ampliación</option>
                                                            <option>Barrio</option>
                                                            <option>Cantón</option>
                                                            <option>Ciudad</option>
                                                            <option>Ciuidad Industrial</option>
                                                            <option>Colonia</option>
                                                            <option>Condominio</option>
                                                            <option>Conjunto Habitacional</option>
                                                            <option>Corredor Industrial</option>
                                                            <option>Coto</option>
                                                            <option>Cuartel</option>
                                                            <option>Ejido</option>
                                                            <option>Ex-hacienda</option>
                                                            <option>Fracción</option>
                                                            <option>Fraccionamiento</option>
                                                            <option>Granja</option>
                                                            <option>Hacienda</option>
                                                            <option>Ingenio</option>
                                                            <option>Manzana</option>
                                                            <option>Paraje</option>
                                                            <option>Parque Industrial</option>
                                                            <option>Privada</option>
                                                            <option>Prolongación</option>
                                                            <option>Pueblo</option>
                                                            <option>Puerto</option>
                                                            <option>Ranchería</option>
                                                            <option>Rancho</option>
                                                            <option>Región</option>
                                                            <option>Residencial</option>
                                                            <option>Rinconada</option>
                                                            <option>Sección</option>
                                                            <option>Sector</option>
                                                            <option>Supermanzana</option>
                                                            <option>Unidad</option>
                                                            <option>Unidad Habitacional</option>
                                                            <option>Villa</option>
                                                            <option>Zona Federal</option>
                                                            <option>Zona Industrial</option>
                                                            <option>Zona Militar</option>
                                                            <option>Zona Naval</option>
                                                        </select>
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['asentamiento'].errors?.required">
                                                        Campo requerido.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Nombre Vialidad -->
                                                <div class="form-group col-md-4">
                                                    <label for="nombre_vialidad">Nombre de Vialidad</label>
                                                    <input type="text" formControlName="nombre_vialidad" maxlength="50" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['nombre_vialidad'].valid && formulario.controls['nombre_vialidad'].touched, 'is-valid': formulario.controls['nombre_vialidad'].valid}">
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['nombre_vialidad'].errors?.required">
                                                        Campo requerido.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Número Exterior -->
                                                <div class="form-group col-md-3">
                                                    <label for="numero_exterior">Número Exterior</label>
                                                    <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onpaste="return false" class="form-control" maxlength="4" [ngClass]="{'is-invalid': !formulario.controls['numero_exterior'].valid && formulario.controls['numero_exterior'].touched, 'is-valid': formulario.controls['numero_exterior'].valid}" formControlName="numero_exterior">
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['numero_exterior'].errors?.required">
                                                        Campo requerido.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Número Interior-->
                                                <div class="form-group col-md-3">
                                                    <label for="numero_interior">Número Interior</label>
                                                    <input type="text" formControlName="numero_interior" maxlength="4" class="form-control">
                                                    <div class="invalid-feedback">
                                                        Campo requerido.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Código Postal -->
                                                <div class="form-group col-md-2">
                                                    <label for="codigo_postal">Código Postal</label>
                                                    <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' onpaste="return false" class="form-control" maxlength="5" [ngClass]="{'is-invalid': !formulario.controls['codigo_postal'].valid && formulario.controls['codigo_postal'].touched, 'is-valid': formulario.controls['codigo_postal'].valid}" formControlName="codigo_postal">
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['codigo_postal'].errors?.required">
                                                        Campo requerido.
                                                    </div>
                                                    <div *ngIf="formulario.controls['codigo_postal'].errors?.minlength" class="invalid-feedback">
                                                        Debe tener al menos 5 dígitos.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Localidad -->
                                                <div class="form-group col-md-2">
                                                    <label for="localidad">Localidad</label>
                                                    <input type="text" class="form-control" maxlength="50" [ngClass]="{'is-invalid': !formulario.controls['localidad'].valid && formulario.controls['localidad'].touched, 'is-valid': formulario.controls['localidad'].valid}" formControlName="localidad">
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['localidad'].errors?.required">
                                                        Campo requerido.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Entre Calle 1-->
                                                <div class="form-group col-md-5">
                                                    <label for="entre_vialidad_1">Entre Calle 1</label>
                                                    <input type="text" formControlName="entre_vialidad_1" maxlength="45" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['entre_vialidad_1'].valid && formulario.controls['entre_vialidad_1'].touched, 'is-valid': formulario.controls['entre_vialidad_1'].valid}">
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['entre_vialidad_1'].errors?.required">
                                                        Campo requerido.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Entre Calle 2-->
                                                <div class="form-group col-md-5">
                                                    <label for="entre_vialidad_2">Entre Calle 2</label>
                                                    <input type="text" class="form-control" maxlength="45" [ngClass]="{'is-invalid': !formulario.controls['entre_vialidad_2'].valid && formulario.controls['entre_vialidad_2'].touched, 'is-valid': formulario.controls['entre_vialidad_2'].valid}" formControlName="entre_vialidad_2">
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['entre_vialidad_2'].errors?.required">
                                                        Campo requerido.
                                                    </div>
                                                </div>
    
                                                <!-- Campo Descripción de la Ubicación -->
                                                <div class="form-group col-md-5">
                                                    <label for="descripcion_ubicacion">Descripción de la Ubicación</label>
                                                    <input type="text" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['descripcion_ubicacion'].valid && formulario.controls['descripcion_ubicacion'].touched, 'is-valid': formulario.controls['descripcion_ubicacion'].valid}" formControlName="descripcion_ubicacion">
                                                    <div class="invalid-feedback" *ngIf="formulario.controls['descripcion_ubicacion'].errors?.required">
                                                        Campo requerido.
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="d-flex justify-content-lg-between flex-column flex-sm-row">
                                                <button type="button" class="btn btn-danger" style="background-color: #df9f16; border:#df9f16;" awPreviousStep>Anterior</button>
                                                <br />
                                                <button type="button" class="btn btn-primary" style="background-color: #1d9be4; border:#1d9be4;" awNextStep>Siguiente</button>
                                            </div>
                                        </form>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </body>
    
            </html>
        </aw-wizard-step>
    
        <!-- Vista de Formulario de Registro (Estudio Socioeconómico) -->
        <aw-wizard-step stepTitle="Estudio Socioeconómico">
            <!DOCTYPE html>
            <html lang="es">
    
            <body>
                <!-- <div class="loading" *ngIf="loading">
                    <img src="../../../assets/img/load.gif">
                </div> -->
                <div class="container-fluid registro">
                    <div class="col-md-12 registro-derecha">
                        <div class="row formulario-registro">
                            <div class="col-md-12">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Estudio Socioeconómico</legend>
                                    <form [formGroup]="formulario">
    
                                        <div class="form-row">
                                            <!-- Campo Estado Civil -->
    
                                            <!-- Campo Jefe(a) de Familia -->
                                            <div class="form-group col-md-3">
                                                <label for="jefe_familia">Jefe(a) de Familia</label>
                                                <select class="form-control" [ngClass]="{'is-invalid': !formulario.controls['jefe_familia'].valid && formulario.controls['jefe_familia'].touched, 'is-valid': formulario.controls['jefe_familia'].valid}" formControlName="jefe_familia">
                                                        <option>Sí</option>
                                                        <option>No</option>
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['jefe_familia'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
    
                                            <!-- Campo Ocupación Actual -->
                                            <div class="form-group col-md-3">
                                                <label for="ocupacion">Ocupación Actual</label>
                                                <select formControlName="ocupacion" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['ocupacion'].valid && formulario.controls['ocupacion'].touched, 'is-valid': formulario.controls['ocupacion'].valid}">
                                                        <option>Hogar</option>
                                                        <option>Comerciante</option>
                                                        <option>Profesiones Varias</option>
                                                        <option>Desempleado</option>
                                                        <option>Jubilado/Pensionado</option>
                                                        <option>Empleado</option>
                                                        <option>Estudiante</option>
                                                        <option>Obrero</option>
                                                        <option>Diversos</option>
                                                        <option>Campo</option>
                                                        <option>Oficios Varios</option>
                                                        <option>Empresario</option>
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['ocupacion'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
    
                                            <!-- Campo Ingreso Mensual -->
                                            <div class="form-group col-md-3">
                                                <label for="ingreso_mensual">Ingreso Mensual</label>
                                                <select formControlName="ingreso_mensual" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['ingreso_mensual'].valid && formulario.controls['ingreso_mensual'].touched, 'is-valid': formulario.controls['ingreso_mensual'].valid}">
                                                        <option>Ninguno</option>
                                                        <option>Menos del Salario Mínimo ($102.68)</option>
                                                        <option>1 Vez el Salario Mínimo</option>
                                                        <option>2 Veces el Salario Mínimo</option>
                                                        <option>3 Veces el Salario Mínimo</option>
                                                        <option>4 Veces el Salario Mínimo</option>
                                                        <option>5 Veces el Salario Mínimo ó Más</option>
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['ingreso_mensual'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
    
                                            <!-- Campo Estado Civil -->
                                            <div class="form-group col-md-3">
                                                <label for="estado_civil">Estado Civil</label>
                                                <select formControlName="estado_civil" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['estado_civil'].valid && formulario.controls['estado_civil'].touched, 'is-valid': formulario.controls['estado_civil'].valid}">
                                                        <option>Soltero(a)</option>
                                                        <option>Casado(a)</option>
                                                        <option>Divorciado(a)</option>
                                                        <option>Viuda(a)</option>
                                                        <option>Unión Libre</option>
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['estado_civil'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
    
                                            <!-- Campo Número de Integrantes de Familia -->
                                            <div class="form-group col-md-4">
                                                <label for="numero_integrantes_familia">Número de Integrantes de Familia</label>
                                                <select formControlName="numero_integrantes_familia" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['numero_integrantes_familia'].valid && formulario.controls['numero_integrantes_familia'].touched, 'is-valid': formulario.controls['numero_integrantes_familia'].valid}">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['numero_integrantes_familia'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
    
                                            <!-- Campo Tipo de Vivienda -->
                                            <div class="form-group col-md-3">
                                                <label for="tipo_vivienda">Tipo de Vivienda</label>
                                                <select formControlName="tipo_vivienda" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['tipo_vivienda'].valid && formulario.controls['tipo_vivienda'].touched, 'is-valid': formulario.controls['tipo_vivienda'].valid}">
                                                        <option>Casa Propia</option>
                                                        <option>Casa Rentada</option>
                                                        <option>Casa Prestada</option>
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['tipo_vivienda'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
    
                                            <!-- Campo Electricidad -->
                                            <div class="form-group col-md-3">
                                                <label for="electricidad">¿Cuentas con electricidad?</label>
                                                <select formControlName="electricidad" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['electricidad'].valid && formulario.controls['electricidad'].touched, 'is-valid': formulario.controls['electricidad'].valid}">
                                                        <option>Sí</option>
                                                        <option>No</option>
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['electricidad'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
    
                                            <!-- Campo  Agua-->
                                            <div class="form-group col-md-3">
                                                <label for="agua">¿Cuentas con agua?</label>
                                                <select formControlName="agua" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['agua'].valid && formulario.controls['agua'].touched, 'is-valid': formulario.controls['agua'].valid}">
                                                        <option>Sí</option>
                                                        <option>No</option>
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['agua'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
    
                                            <!-- Campo Drenaje-->
                                            <div class="form-group col-md-3">
                                                <label for="drenaje">¿Cuentas con drenaje?</label>
                                                <select formControlName="drenaje" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['drenaje'].valid && formulario.controls['drenaje'].touched, 'is-valid': formulario.controls['drenaje'].valid}">
                                                        <option>Sí</option>
                                                        <option>No</option>
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['drenaje'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
    
                                            <!-- Campo telefono-->
                                            <div class="form-group col-md-3">
                                                <label for="telefono">¿Cuentas con teléfono?</label>
                                                <select formControlName="telefono" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['telefono'].valid && formulario.controls['telefono'].touched, 'is-valid': formulario.controls['telefono'].valid}">
                                                        <option>Sí (Fijo)</option>
                                                        <option>Sí (Móvil)</option>
                                                        <option>Sí (Fijo y Móvil)</option>
                                                        <option>No</option>
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['telefono'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
    
                                            <!-- Campo internet-->
                                            <div class="form-group col-md-3">
                                                <label for="internet">¿Cuentas con internet?</label>
                                                <select formControlName="internet" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['internet'].valid && formulario.controls['internet'].touched, 'is-valid': formulario.controls['internet'].valid}">
                                                        <option>Sí</option>
                                                        <option>No</option>
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['internet'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
    
                                            <!-- Campo Número de Habitantes en la Vivienda -->
                                            <div class="form-group col-md-4">
                                                <label for="numero_habitantes_vivienda">Número de Habitantes en la Vivienda</label>
                                                <select formControlName="numero_habitantes_vivienda" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['numero_habitantes_vivienda'].valid && formulario.controls['numero_habitantes_vivienda'].touched, 'is-valid': formulario.controls['numero_habitantes_vivienda'].valid}">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                        <option>Más de 6</option>
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['numero_habitantes_vivienda'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
    
                                            <!-- Campo Número de Dependientes Económicos -->
                                            <div class="form-group col-md-4">
                                                <label for="numero_dependientes">Número de Dependientes Económicos</label>
                                                <select formControlName="numero_dependientes" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['numero_dependientes'].valid && formulario.controls['numero_dependientes'].touched, 'is-valid': formulario.controls['numero_dependientes'].valid}">
                                                    <option>0</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['numero_dependientes'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
    
                                            <!-- Campo Tipo de Seguridad Social -->
                                            <div class="form-group col-md-3">
                                                <label for="tipo_seguridad_social">Tipo de Seguridad Social</label>
                                                <select formControlName="tipo_seguridad_social" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['tipo_seguridad_social'].valid && formulario.controls['tipo_seguridad_social'].touched, 'is-valid': formulario.controls['tipo_seguridad_social'].valid}">
                                                        <option>Ninguno</option>
                                                        <option>IMSS</option>
                                                        <option>ISSSTE</option>
                                                        <option>Seguro Popular</option>
                                                        <option>PEMEX</option>
                                                        <option>Otro</option>
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['tipo_seguridad_social'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
    
                                            <!-- Campo Discapacidad -->
                                            <div class="form-group col-md-3">
                                                <label for="discapacidad">Discapacidad</label>
                                                <select formControlName="discapacidad" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['discapacidad'].valid && formulario.controls['discapacidad'].touched, 'is-valid': formulario.controls['discapacidad'].valid}">
                                                        <option>Dificultad para aprender</option>
                                                        <option>Dificultad para oír</option>
                                                        <option>Dificultad para ver</option>
                                                        <option>Dificultad para moverse</option>
                                                        <option>Ninguna</option>
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['discapacidad'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
    
                                            <!--Campo Nivel de Estudios -->
                                            <div class="form-group col-md-3">
                                                <label for="nivel_estudios">Nivel de Estudios</label>
                                                <select formControlName="nivel_estudios" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['nivel_estudios'].valid && formulario.controls['nivel_estudios'].touched, 'is-valid': formulario.controls['nivel_estudios'].valid}">
                                                        <option>Ninguno</option>
                                                        <option>Primaria</option>
                                                        <option>Secundaria</option>
                                                        <option>Preparatoria</option>
                                                        <option>Carrera Técnica</option>
                                                        <option>Licenciatura</option>
                                                        <option>Posgrado - Especialidad</option>
                                                        <option>Posgrado - Maestría</option>
                                                        <option>Posgrado - Doctorado</option>
                                                        <option>Posgrado - Pos Doctorado</option>
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['nivel_estudios'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
    
                                            <!--Campo Escuela -->
                                            <div class="form-group col-md-3">
                                                <label for="escuela">Escuela</label>
                                                <input type="text" class="form-control" maxlength="50" [ngClass]="{'is-invalid': !formulario.controls['escuela'].valid && formulario.controls['escuela'].touched, 'is-valid': formulario.controls['escuela'].valid}" formControlName="escuela">
                                                <div class="invalid-feedback" *ngIf="formulario.controls['escuela'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
    
                                            <!-- Campo Beneficiario Colectivo 
                                            <div class="form-group col-md-3">
                                                <label for="beneficiario_colectivo">¿Eres beneficiario colectivo?</label>
                                                <select formControlName="beneficiario_colectivo" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['beneficiario_colectivo'].valid && formulario.controls['beneficiario_colectivo'].touched, 'is-valid': formulario.controls['beneficiario_colectivo'].valid}">
                                                        <option>Sí</option>
                                                        <option>No</option>
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['beneficiario_colectivo'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
                                        -->
                                            <!-- Campo ¿como te enteraste de este evento?-->
                                            <div class="form-group col-md-4">
                                                <label for="como_enteraste_evento">¿Como te enteraste de este evento?</label>
                                                <select formControlName="como_enteraste_evento" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['como_enteraste_evento'].valid && formulario.controls['como_enteraste_evento'].touched, 'is-valid': formulario.controls['como_enteraste_evento'].valid}">
                                                        <option>Redes Sociales</option>
                                                        <option>Página de Factoría</option>
                                                        <option>Un amigo/amiga</option>
                                                        <option>Secretaría de Economía</option>
                                                        <option>Otro</option>
        
                                                    </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['como_enteraste_evento'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
    
                                            <!-- Campo ¿como te enteraste de este evento?-->
                                            <div class="form-group col-md-5">
                                                <label for="grupos_vulnerables">¿Te encuentras en algun grupo vulnerable?</label>
                                                <select formControlName="grupos_vulnerables" class="form-control" [ngClass]="{'is-invalid': !formulario.controls['grupos_vulnerables'].valid && formulario.controls['grupos_vulnerables'].touched, 'is-valid': formulario.controls['grupos_vulnerables'].valid}">
                                                            <option>Madres Solteras</option>
                                                            <option>Jefas de Familia</option>
                                                            <option>Mujeres en situación de maltrato o violencia</option>
                                                            <option>Menores de edad en situación de riesgo.</option>
                                                            <option>Personas con discapacidad</option>
                                                            <option>Ninguno</option>
    
            
                                                        </select>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['grupos_vulnerables'].errors?.required">
                                                    Campo requerido.
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="form-row col-md-12">
                                            <div class="form-group form-check">
                                                <a href="https://factoria.zacatecas.gob.mx/privacidad/" target="_blank">Términos y Condiciones.</a>
                                                <br>
                                                <input type="checkbox" class="form-check-input" formControlName="condiciones" [ngClass]="{'is-invalid': !formulario.controls['condiciones'].valid && formulario.controls['condiciones'].touched, 'is-valid': formulario.controls['condiciones'].valid}">
                                                <label class="form-check-label" for="condiciones">Acepto Términos y Condiciones.</label>
                                                <div class="invalid-feedback" *ngIf="formulario.controls['condiciones'].errors?.required">
                                                    Marcar por favor.
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="d-flex justify-content-lg-between flex-column flex-sm-row">
                                            <button type="button" class="btn btn-danger" style="background-color: #df9f16; border:#df9f16;" awPreviousStep>Anterior</button>
                                            <br/>
                                            <button type="button" class="btn btn-success" (click)="registrarEmprendedor()" [disabled]="!formulario.valid">Regístrarme</button>
                                        </div>
                                    </form>
                                    <div class="loading" *ngIf="loading">
                                            <img src="../../../assets/img/load.gif">
                                        </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </body>
    
            </html>
        </aw-wizard-step>
    </aw-wizard>
    
    <footer class="pt-4  pb-1 text-light">
        <div class="container ">
            <div class="col-md-12 text-center">
    
                <nav class="sociales text-center">
                    <ul>
                        <li>
                            <a title="Facebook" href="https://www.facebook.com/SecretariadeEconomiaZac/" target="_blank">
                                <span class="sr-only"> Facebook</span>
                            </a>
                        </li>
    
                        <li>
                            <a title="Twitter" href="https://twitter.com/sezac_/" target="_blank">
                                <span class="sr-only"> Twitter</span>
                            </a>
                        </li>
    
                    </ul>
                </nav>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <p><i class="fa fa-phone-square"></i> Tel. (492) 491 5000 Ext. 36264</p>
                    </div>
                    <div class="col-sm">
                        <p><i class="fa fa-envelope"></i> emprendimiento@zacatecas.gob.mx</p>
                    </div>
                    <div class="col-sm">
                        <p>
                            <a href="https://economia.zacatecas.gob.mx/factoria" target="_blank"> <i class="fa fa-globe"></i> https://economia.zacatecas.gob.mx/factoria</a>
                        </p>
                    </div>
                </div>
            </div>
    
    
            <hr class="w-100">
            <p class="text-center copyright w-100">Secretaría de Economía © 2019 - Todos los derechos reservados.</p>
        </div>
    
    </footer>