<!DOCTYPE html>
<html lang="en">

<body>
    <header class="container-fluid">
        <div class="row no-gutters text-center">
            <div class="col-md-12 logotipos">
                <img src="../../../assets/img/logos.png" alt="Logotipos Secretaría de Economía y Factoría">
            </div>

            <div class="col-md-12 texto">
                <h2 class="font-weight-bold">¡Bienvenido Emprendedor!</h2>
            </div>
        </div>
    </header>

    <section class="container-fluid">
        <div class="row no-gutters d-flex justify-content-center">
            <div class="col-md-2 mt-4">

                <div class="enlaces">
                    <a [routerLink]="['/formulario']" class="btn btn-primary btn-lg btn-block btn-rounded">Regístrarme</a>
                </div>

                <div *ngIf="!auth.isLoggedIn()" class="panel-admin mt-1 text-center">
                    Panel de <a [routerLink]="['/login']" class="text-primary m-l-5"><b>Administrador</b></a>
                </div>

                <div *ngIf="auth.isLoggedIn()" class="panel-admin mt-1 text-center">
                    Panel de <a [routerLink]="['/administrador']" class="text-primary m-l-5"><b>Administrador</b></a>
                </div>

            </div>
        </div>

        <div class="row no-gutters d-flex justify-content-center">
            <div class="col-md-4 contenedor-check">
                <div class="checks">
                    <ul>
                        <li>Regístra tus datos.</li>
                        <li>Obtén tu clave única.</li>
                        <li>Únete a la comunidad emprendedora.</li>
                        <li>Asiste a cualquier evento.</li>
                    </ul>
                </div>
            </div>
        </div>

    </section>


    <footer class="pt-3 text-light">
        <div class="container">
            <div class="row d-flex justify-content-around">

                <div class="col-md-5 text-justify">
                    <h3 class="text-center pb-4">Contacto</h3>
                    <p><i class="fa fa-phone-square"></i> Tel. (492) 491 5000 Ext. 36264</p>
                    <p><i class="fa fa-envelope"></i> emprendimiento@zacatecas.gob.mx</p>
                    <p>
                        <a href="https://economia.zacatecas.gob.mx/factoria" target="_blank"> <i class="fa fa-globe"></i> https://economia.zacatecas.gob.mx/factoria</a>
                    </p>
                </div>


                <div class="col-md-5 text-center">
                    <h3 class=" pb-4">Redes sociales</h3>
                    <nav class="sociales text-center">
                        <ul>
                            <li>
                                <a title="Facebook" href="https://www.facebook.com/SecretariadeEconomiaZac/" target="_blank">
                                    <span class="sr-only"> Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a title="Twitter" href="https://twitter.com/sezac_/" target="_blank">
                                    <span class="sr-only"> Twitter</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <hr class="w-100">
                <p class="text-center copyright w-100">Secretaría de Economía © 2019 - Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>

</html>