body {
    background-image: url('src/assets/img/fondo_zacatecas.png');
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: cover;
    height: 100vh;
}

header {
    .logotipos {
        img {
            width: 55%;
        }
    }
    .texto {
        color: #e51685;
    }
}

section {
    .enlaces {
        justify-content: center;
        display: flex;
        a {
            color: #fff;
            background-color: #17a2b8;
            border-radius: 35px;
            font-weight: bold;
            border: 1px solid rgba(23, 162, 184, 0.75);
        }
    }
    .panel-admin {
        a {
            b {
                color: #ee8610;
            }
        }
    }
    .contenedor-check {
        margin-top: 6%;
        .checks {
            display: flex;
            justify-content: center;
            border: 1px solid #ddd !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            border: 5px solid #ee8610 !important;
            border-radius: 12px;
            background-color: #ee8610;
            color: #ffffff;
            ul {
                margin-top: 2rem;
                list-style: square;
                list-style-image: url('src/assets/img/check.png');
                padding: 0 0 5% 45px;
            }
        }
    }
}

footer {
    background-color: #ee8610;
    a {
        text-decoration: none;
        color: #ffffff;
    }
    h3 {
        font-weight: bold;
        font-size: 1.5rem;
    }
    .copyright {
        color: #ffffff;
        font-size: 15px;
    }
    .sociales {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                position: relative;
                display: inline-block;
                a {
                    &::before {
                        font-family: 'FontAwesome';
                        display: inline-block;
                        vertical-align: top;
                        padding: 0.4rem;
                        content: '\f08e';
                        -webkit-font-smoothing: antialiased;
                        font-size: 2rem;
                        color: #f6f6f6;
                    }
                }
                a[href*="https://www.facebook.com/SecretariadeEconomiaZac/"] {
                    &::before {
                        content: '\f230';
                    }
                }
            }
            li {
                position: relative;
                display: inline-block;
                a {
                    &::before {
                        font-family: 'FontAwesome';
                        display: inline-block;
                        vertical-align: top;
                        padding: 0.4rem;
                        content: '\f08e';
                        -webkit-font-smoothing: antialiased;
                        font-size: 1.9rem;
                        color: #f6f6f6;
                    }
                }
                a[href*="https://twitter.com/sezac_/"] {
                    &::before {
                        content: '\f099';
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        .logotipos {
            img {
                width: 100%;
            }
        }
        .texto {
            font-size: 10%;
        }
    }
}

@media screen and (max-width: 600px) {
    body {
        background-image: url('src/assets/img/fondo_sin_monos.png')!important;
    }
}