<!DOCTYPE html>
<html lang="en">

<body>
    <header class="container-fluid">
        <div class="row no-gutters text-center">
            <div class="col-md-12 logotipos">
                <img src="../../../assets/img/logos.png" alt="Logotipos Secretaría de Economía y Factoría">
            </div>

            <div class="col-md-12 texto">
                <h2 class="font-weight-bold">¡Bienvenido Administrador!</h2>
            </div>
        </div>
    </header>

    <section class="container-fluid">

        <div class="row no-gutters d-flex justify-content-center">
            <div class="col-md-12 contenedor-check">
                <div class="login">
                    <form [formGroup]="adminForm" (submit)="login()">

                        <div class="form-row">
                            <div class="form-group col-md-12 col-sm-12">
                                <input type="text" formControlName="usuario" class="form-control" [ngClass]="{ 'is-invalid': enviado && f['usuario'].errors }" placeholder="Usuario" [(ngModel)]="credentials.usuario"/>
                            </div>
                            <div *ngIf="enviado && f['usuario'].errors" class="invalid-feedback"></div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12 col-sm-12">
                                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': enviado && f['password'].errors}" placeholder="Contraseña" [(ngModel)]="credentials.password"/>
                            </div>
                            <div *ngIf="enviado && f['password'].errors" class="invalid-feedback"></div>
                            
                        </div>
                        
                        <div class="boton text-center">
                            <button class="btn btn-lg btn-primary btn-block">Ingresar</button>
                            
                        </div>
                        <div class="boton text-center">
                            <button class="btn btn-lg btn-primary btn-block" [routerLink]="['/']">Regresar</button>
                        </div>
                    </form>  
                </div>
            </div>
        </div>
    </section>

    <footer class="pt-3 text-light">
        <div class="container">
            <div class="row d-flex justify-content-around">

                <div class="col-md-5 text-justify">
                    <h3 class="text-center pb-4">Contacto</h3>
                    <p><i class="fa fa-phone-square"></i> Tel. (492) 491 5000 Ext. 36264</p>
                    <p><i class="fa fa-envelope"></i> emprendimiento@zacatecas.gob.mx</p>
                    <p>
                        <a href="https://economia.zacatecas.gob.mx/factoria" target="_blank"> <i class="fa fa-globe"></i> https://economia.zacatecas.gob.mx/factoria</a>
                    </p>
                </div>

                <div class="col-md-5 text-center">
                    <h3 class=" pb-4">Redes sociales</h3>
                    <nav class="sociales text-center">
                        <ul>
                            <li>
                                <a title="Facebook" href="https://www.facebook.com/SecretariadeEconomiaZac/" target="_blank">
                                    <span class="sr-only"> Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a title="Twitter" href="https://twitter.com/sezac_/" target="_blank">
                                    <span class="sr-only"> Twitter</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <hr class="w-100">
                <p class="text-center copyright w-100">Secretaría de Economía © 2019 - Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>

</html>