body {
    background-image: url('src/assets/img/fondo_zacatecas.png');
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: cover;
    height: 100vh;
}

header {
    .logotipos {
        img {
            width: 55%;
        }
    }
    .texto {
        color: #18b5d1;
    }
}

section {
    margin-bottom: 9%;
    .contenedor-check {
        margin-top: 6%;
        .login {
            display: flex;
            justify-content: center;
            input {
                border-radius: 20px;
                border: solid 1px;
                margin: 0 auto;
                text-align: center;
            }
            .boton {
                margin-top: 20%;
                button {
                    border-radius: 20px;
                    border: solid 1px;
                    margin: 0 auto;
                    text-align: center;
                    background: #ff7c00;
                    background: -moz-linear-gradient(top, #ff7c00 29%, #ff9114 49%, #ff7f04 100%);
                    background: -webkit-linear-gradient(top, #ff7c00 29%, #ff9114 49%, #ff7f04 100%);
                    background: linear-gradient(to bottom, #ff7c00 29%, #ff9114 49%, #ff7f04 100%);
                    font-size: 15px;
                }
            }
        }
    }
}

footer {
    background-color: #18b5d1;
    a {
        text-decoration: none;
        color: #ffffff;
    }
    h3 {
        font-weight: bold;
        font-size: 1.5rem;
    }
    .copyright {
        color: #ffffff;
        font-size: 15px;
    }
    .sociales {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                position: relative;
                display: inline-block;
                a {
                    &::before {
                        font-family: 'FontAwesome';
                        display: inline-block;
                        vertical-align: top;
                        padding: 0.4rem;
                        content: '\f08e';
                        -webkit-font-smoothing: antialiased;
                        font-size: 2rem;
                        color: #f6f6f6;
                    }
                }
                a[href*="https://www.facebook.com/SecretariadeEconomiaZac/"] {
                    &::before {
                        content: '\f230';
                    }
                }
            }
            li {
                position: relative;
                display: inline-block;
                a {
                    &::before {
                        font-family: 'FontAwesome';
                        display: inline-block;
                        vertical-align: top;
                        padding: 0.4rem;
                        content: '\f08e';
                        -webkit-font-smoothing: antialiased;
                        font-size: 1.9rem;
                        color: #f6f6f6;
                    }
                }
                a[href*="https://twitter.com/sezac_/"] {
                    &::before {
                        content: '\f099';
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        .logotipos {
            img {
                width: 100%;
            }
        }
        .texto {
            font-size: 10%;
        }
    }
}

@media screen and (max-width: 600px) {
    body {
        background-image: url('src/assets/img/fondo_sin_monos.png')!important;
    }
}