<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="row no-gutters d-flex justify-content-center">
            <div class="col-md-8">
                <div class="jumbotron text-center" style="background-image: url('img/email-pattern.png')">
                    <h1 class="text-center mb-3">Regístro Éxitoso</h1>
                    <p class="text-justify"><span class="font-weight-bold" style="color: crimson;">{{ nombre }} {{ apellido_paterno }} {{apellido_materno}}</span>, <span class="font-weight-bold" style="color: black;">hemos alamcenado tus datos en nuestra base de datos.</span></p>
                    <hr class="my-4">
                    <p>Tu ID de emprendedor es: <span class="font-weight-bold" style="color: crimson;">{{ id_participante }}</span></p>
                    <h3 class="text-center mb-5">Recibirás un correo de confirmación si tus datos son corretos.</h3>
                    <div class="d-flex bd-highlight mb-3 justify-content-center">
                        <div class="p-2 bd-highlight"><img src="img/logo-sezac-factoria.png" /></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>